.logo {
    margin-left: -1.85em;
    margin-top: -4px;
    max-height: 101px;
  }
  
  .search-box {
    text-align: left;
    width: 80px;
    font-weight: 600;
    border-bottom: 1px solid black;
  }
  
  .login-text {
    font-size: 12px;
  }
  
  .cart-image {
    width: 22px;
    height: 20px;
  }
  